.App {
  text-align: center;
  margin: 30px;
}
h1{
  font-size: 70px;
}
button{
  margin: 10px;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: all .2s;
}
button:hover{
  transform: scale(.97);
  box-shadow: 3px 3px 3px #999;
}
button:active{
    transform: scale(.9);
  box-shadow: 3px 3px 3px red;
}
form{
  font-size: 30px;
}
input{
  margin: 15px;
  padding: 10px;
  font-size: 20px;
}